::-webkit-scrollbar {
  display: none; }

.menu-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 4px;
  bottom: 154px;
  overflow-y: scroll;
  background-color: black; }
  .menu-overlay.hidden {
    visibility: hidden; }
  .menu-overlay .menu {
    user-select: none;
    font-family: 'Share Tech Mono', monospace;
    font-size: 18px;
    text-shadow: 0 0 5px green;
    max-width: 640px;
    margin: 0 auto;
    padding: 25px;
    color: #2D6; }
    .menu-overlay .menu p {
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 1.5; }
    .menu-overlay .menu .menu-links {
      display: flex;
      justify-content: space-around; }
      .menu-overlay .menu .menu-links a {
        font-size: 20px;
        cursor: pointer; }
        .menu-overlay .menu .menu-links a:hover {
          text-decoration: underline; }

.power-switch {
  position: absolute;
  bottom: 42px;
  right: 10%;
  width: 68px;
  height: 68px;
  overflow: hidden;
  background-image: url(../img/onoffswitch.png); }
  .power-switch.on {
    background-position: right; }

.img-store {
  display: none; }
